@model IEnumerable<PRODUCTOS_COTEMAR.Models.ProductViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/_MaterPageProducts.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="container">
    <table class="responsive-table">
            <thead>
                <tr>
                    <th scope="col">Clave</th>
                    <th scope="col">Nombre producto</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <th scope="row" data-title="Clave de producto">@Html.DisplayFor(modelItem => item.id)</th>
                    <td data-title="Nombre del producto">@Html.DisplayFor(modelItem => item.name)</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { id = item.id }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
                }
            </tbody>
        </table>
</div>
